  <div class="container">
    <img src="https://www.chewy.com/petcentral/wp-content/uploads/2017/11/Take-Your-Dog-to-Work.jpg" alt="CASN Logo" style="width: 90%;">
    <h2>Nodejs Web Server</h2>
    <p>{{response}}</p>
  </div>
